<div class="single-review">
  <div class="review-header">
    <h2 class="review-title">Role: {{ review.role }}</h2>
    <h3 class="review-subtitle">Poster: {{ review.username }}</h3>
  </div>
  
  <div class="review-details" [ngStyle]="{'background-image': 'url(' + randomImage + ')', 'background-size': 'contain', 'background-repeat': 'no-repeat'}">
    <div class="review-item">
      <span class="review-label">Quality of Rejection:</span>
      <span class="stars">
        <div class="star-rating">
          <img *ngFor="let star of getStars('quality')" [src]="'assets/images/' + star + 'star.png'" alt="star" />
        </div>
      </span>
    </div>
    <div class="review-item">
      <span class="review-label">Confidence of Last Interview:</span>
      <span class="stars">
        <div class="star-rating">
          <img *ngFor="let star of getStars('conf')" [src]="'assets/images/' + star + 'star.png'" alt="star" />
        </div>
      </span>
    </div>
    <div class="review-item">
      <span class="review-label">Competitiveness of Role:</span>
      <span class="stars">
        <div class="star-rating">
          <img *ngFor="let star of getStars('compet')" [src]="'assets/images/' + star + 'star.png'" alt="star" />
        </div>
      </span>
    </div>
    <div class="review-item">
      <span class="review-label">Rejection Type:</span>
      <span class="review-value">{{ review.selected }}</span>
    </div>
    <div class="review-item">
      <span class="review-label">Number of Rounds:</span>
      <span class="review-value">{{ review.numRounds }}</span>
    </div>
    <div class="review-item">
      <span class="review-label">Would Apply Again:</span>
      <span class="review-value">{{ review.applyAgain ? 'Yes' : 'No' }}</span>
    </div>
  </div>

  <div *ngIf="review.other != ''" class="other-comments">
    <h3 class="comments-title">Other Comments</h3>
    <p>{{ review.other }}</p>
  </div>
</div>
