<div class="single-review">
  <div class="review-header">
    <h2 class="review-title">Role: {{ review.role }}</h2>
    <h2 class="review-title">Poster: {{ review.username }}</h2>
  </div>
  
  <div class="review-details">
    <table class="review-table">
      <thead>
        <tr>
          <th>Quality of Rejection</th>
          <th>Confidence of Last Interview</th>
          <th>Competitiveness of Role</th>
          <th>Rejection Type</th>
          <th>Number of Rounds</th>
          <th>Would Apply Again</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ review.quality }}</td>
          <td>{{ review.confidence }}</td>
          <td>{{ review.competitiveness }}</td>
          <td>{{ review.selected }}</td>
          <td>{{ review.numRounds }}</td>
          <td>{{ review.applyAgain ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="review.other != ''" class="other-comments">
    <h3 class="comments-title">Other Comments</h3>
    <p>{{ review.other }}</p>
  </div>
</div>

