.nameStyle {
  font-size: 30px;
  color: #a2acbd;
  font-style: italic;
  font-family: Ebrima, serif;
}

.competeStyle {
  font-size: 20px;
  color: #a2acbd;
  font-family: Ebrima, serif;
  align-self: center;
}

.ratingStyle {

}

.applyAgainStyle {

}
