<div>

    <h2 class="companyTitle">Companies</h2>

    <div *ngFor="let review of filteredReviews">
      <app-display-review [review]="review"></app-display-review>
    </div>
  </div>

<input type="text" [(ngModel)]="searchTerm" (input)="filterReviews()" placeholder="Search by role" />

<app-leave-areview *ngIf="authService.isAuthenticated()", [companyName]= "companyInfo?.name"></app-leave-areview>

<!-- If not authenticated, show a message or a login prompt -->
<div *ngIf="!authService.isAuthenticated()">
  <p>Please log in to leave a review.</p>
</div>



