<head>
  <link rel="stylesheet" href="home-page.component.css">
</head>

<body>

<p>Total Reviews: {{ totalReviewsCount }}</p>

  <div class="search-title">You suck! ... but so does everyone else!</div>
  <!-- Search Bar Section -->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search companies by name"
      (input)="onSearch()"
      class="search-input"
    />
  </div>


  <!-- Companies Display Section -->
  <div *ngIf="filteredCompanies.length > 0" class="companies-list">
    <div *ngFor="let company of filteredCompanies" class="company-item">
      <app-company [company]="company"></app-company>
    </div>
  </div>

  <!-- No Results Message -->
  <div *ngIf="filteredCompanies.length === 0">
    <p class="no-companies-message">No companies found</p>
  </div>
</body>

<div class="bottom-image"></div>


