body {
  background-color: #4fa5fa;
  padding-bottom: 10px;
}

.companyTitle {
  font-family: "Cascadia Code", cursive;
  font-size: 40px;
  color: #f0cfdb;
}
.company-title {
  display: inline-block;
  width: 500px;
  margin: 20px;
  height: 200px;
  background-color: #f5b7cb;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
h2 {
}


