<head>
  <link rel="stylesheet" href="home-page.component.css">
</head>

<body>
<p>Total Reviews: {{ totalReviewsCount }}</p>
<div class="search-term">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Search companies by name"
    (input)="onSearch()"
    class =  "search-input"
  />
</div>


<div *ngIf="filteredCompanies.length > 0">
  <div *ngFor="let company of filteredCompanies">
    <app-company class="company-title" [company]="company"></app-company>
  </div>
</div>

<div *ngIf="filteredCompanies.length === 0">
  <p class="no-companies-message">No companies found</p>
</div>

</body>
